.App {
  text-align: center;
}

.block-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
}
.insert-container {
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.block {
  height: 200px;
  width: 200px;
}
